.remember{
    display: flex;
    align-items: center;
}
.remember_field{
    margin-right: 15px;
}
.form_label{
    margin: 5px 0;
}
.form__submit{
    width: 50%;
    margin: 0 auto;
}
.another{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}