{% extends 'base.html' %}

{% block main %}
    <div class="choose-lable"><h2>В качестве кого Вы хотите зарегистрироваться?</h2></div>
    <div class="choose">
        <a href="#" class="choose__btn">Супервизор</a>
        <a href="{{url_for('logreg.reg')}}" class="choose__btn">Клиент</a>
    </div>
    <div class="choose__regto">
        <div class="choose__regto-title"><h3>Уже зарегистрированны?</h3></div>
        <a href="{{url_for('logreg.index')}}" class="choose__regto-btn">Авторизоваться!</a>
    </div>
{% endblock %}
