<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/logreg.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/flash.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/pp_client.css">
</head>
<body>
    <header class="header">
        <div class="_container">
            <div class="header__content">
                <div class="header__profile">
                    {%if current_user.email %}
                    <a href="{{ url_for('logreg.logout') }}" class="link_profile">Выйти</a>
                    {%else%}
                    <a href="{{ url_for('logreg.index') }}" class="link_profile">Личный кабинет</a>
                    {%endif%}
                </div>
                <div class="navigation">
                    <nav class="nav">
                        <a href="" class="nav__link">Обучение</a>
                        <a href="" class="nav__link">Супервизии</a>
                        <a href="" class="nav__link">Блог</a>
                    </nav>
                </div>
            </div>
            
        </div>
    </header>
    <hr class="hr">
    <main class="main">
        <div class="_container">
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <hr class="hr">
    <footer class="footer">
        <div class="_container">
            <div class="footer__content">
                <div class="footer_arr">@ All Rights Reserved</div>
                <div class="footer__about">
                    <div class="footer__about-text">Сайт принадлежит нам</div>
                    <div class="footer__about-email">
                        <a href="mailto:popov2895@gmail.com">Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
</body>
</html>